<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

<!--        <service android:name="com.google.android.gms.metadata.ModuleDependencies"-->
<!--            android:enabled="false"-->
<!--            android:exported="false"-->
<!--            tools:ignore="MissingClass">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />-->
<!--            </intent-filter>-->
<!--            <meta-data android:name="photopicker_activity:0:required" android:value="" />-->
<!--        </service>-->

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="0b6120b496785aece22be5c346493385"/>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.ingit pull origin maintent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakao0b6120b496785aece22be5c346493385" />
            </intent-filter>
        </activity>

        <activity
            android:name=".src.main.MainActivity"
            android:exported="true">

        </activity>
        <activity android:name=".config.BaseActivity"/>
        <activity android:name=".src.login.LoginActivity"
            android:exported="true">

        </activity>
        <activity android:name=".src.main.home.add.AddActivity"/>
        <activity android:name=".src.main.home.picture.PictureActivity"/>
        <activity android:name=".src.main.home.addContent.AddContentActivity"/>
        <activity android:name=".src.main.home.mainPicture.MainPictureActivity"/>
        <activity android:name=".src.main.home.addAccount.AddAccountActivity"/>
        <activity android:name=".src.main.home.addInfo.AddInfoActivity"/>
        <activity android:name=".src.main.home.giftPicture.GiftPictureActivity"/>
        <activity android:name=".src.main.search.category.CategoryActivity"/>
        <activity android:name=".src.main.search.map.MapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".src.main.search.post.PostActivity"/>
        <activity android:name=".src.main.search.post.donate.DonateActivity"/>
        <activity android:name=".src.main.search.post.join.JoinActivity"/>
    </application>

</manifest>